.pic-bg2{
    background-image:url("/public/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color:rgba(1, 1, 34, 0.562);
    background-blend-mode: color;
    height: 100vh;
}
.fontfam{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}